* {
  background-color: #FFF;
  font-family: Arial, sans-serif;
}

body {
  margin: 0 auto;
  text-align: left;
  width: 900px;
}

nav {
  margin: 20px;
  padding: 20px;
}

ol {
  display: inline-block;
}

li {
  display: inline-block;
  margin-top: 20px;
  text-align: center;
  color: white;
  background-color: #D64609;
  height: 50px;
  width: 110px;
}

h1 {
  color: orange;
}

div {
  display: inline-block;
}

.logo {
  width: 150px;
  height: 150px;
}

img {
  width: 300px;
  height: 300px;
  float: left;
  margin-left: 20px;
  border: white solid 1px;
}
